<div class="page-header">
  <span class="h1">Fly Boxes<span>
    <% if current_user == @user %>
      <%= link_to "Create a new Fly Box", new_user_fly_box_path, class: "btn btn-primary pull-right" %>
    <% end %>
  </div>
